# exclude key
C:\Users\hecto\OneDrive\Área de Trabalho\github\Repositórios\DevopsDio\docker-projeto2-cluster\.vagrant\machines\master\virtualbox\private_key
C:\Users\hecto\OneDrive\Área de Trabalho\github\Repositórios\DevopsDio\docker-projeto2-cluster\.vagrant\machines\master\virtualbox\private_key